@import "./theme.scss";

body {
  background-color: var(--color-background);
  color: var(--color-text);

  --color-text: #{$color-white};
  --color-background: #{$color-black};
  --color-background-2: #{$color-grey-900};
  --color-brand: #{$color-green};

  &.light {
    --color-text: #{$color-black};
    --color-background: #{$color-white};
    --color-background-2: #{$color-grey-100};
    --color-brand: #{$color-green-2};
  }
}
