$color-black: #18171f;
$color-green: #a4ffaf;
$color-red: #f64a4a;
$color-orange: #fb7c58;
$color-yellow: #fbcd65;
$color-white: #e6e5ea;
$color-grey-900: #24232c;

$breakpoints: (
  2xs: 400px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);
